<div class="banner">
  <div class="team-member">
    <p class='keep'>
    	Health Care is a Human Right
    </p><br/>
  </div>
  <span class="left_cap"></span>
  <span class="right_cap"></span>
  <div style="clear: both;"></div>
</div>